<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> You Win! </title>
    <style>
        h1 {
            color: orange;
            font-weight: 36;
        }
        .content {
            padding: 100px;
            width: 25%;
            margin: auto;
            align: center;
            text-align: center;
        }
    </style>
  </head>

  <body>
      <div class="content">
        <img src="/static/trophy.png">
        <br>
        <h1>You Win!</h1>
      </div>
  </body>
</html>
